[Unit]
Description=Quad Image Paste

[Install]
WantedBy=multi-user.target

[Service]
User=quad-image
Group=quad-image

# note images are written to the 'e' subdirectory of this working directory:
WorkingDirectory=/opt/quad-image
ExecStart=/opt/quad-image/quad-image

Restart=on-failure

#[Hardening]

# No filesystem by default
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectKernelModules=true

ReadWritePaths=/opt/quad-image

PrivateDevices=true
PrivateTmp=true

# shouldn't need to elevate
NoNewPrivileges=true
CapabilityBoundingSet=
